{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<style>
    body {
        background-color: #fff;
    }

    .container {
        width: 100%;
        display: flex;
    }

    .container--50 > .column {
        display: flex;
        flex-direction: column;
        width: 48%;
        padding: 1rem;
    }

    .fast-purge-urls {
        width: 100%;
        min-height: 300px;
    }

    .purge-urls {
        width: 100%;
        min-height: 200px;
    }

    .button {
        display: inline-block;
        text-align: center;
        line-height: 1;
        cursor: pointer;
        -webkit-appearance: none;
        -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 0;
        padding: 0.6em 1em 0.75em;
        margin: 0 0 1rem 0;
        font-size: 1.125rem;
        background-color: #ae0a3b;
        color: #fff;
    }

    .button--fast-purge {
        float: right;
        margin-top: 1rem;
    }

    input[type="text"] {
        min-height: 1rem;
    }

    table {
        width: 100%;
    }

    .color--red {
        color: #ae0a3b;
    }

    .color--green {
        color: #2aae0d;
    }

    .invalidation-request--backend-headline {
        margin-bottom: 0;
    }

    .invalidation-request--headline {
        margin-top: 0;
    }
</style>

<h2>URLs invalidieren</h2>
<div class="container container--50">
    <div class="column">
        <f:form action="invalidatePathByFastPurge">
            <f:form.textarea id="purgePath" class="fast-purge-urls" name="paths" placeholder="/assets/Stylesheets/style.min.css" />
            <f:form.hidden name="explodeByBr" value="1" />
            <f:form.submit class="button button--fast-purge" value="Invalidieren" />
        </f:form>
    </div>
    <div class="column">
        <f:if condition="{fastPurgeInvalidationObjects}">
            <f:then>
                <h2>Results</h2>
                <f:for each="{fastPurgeInvalidationObjects}" as="invalidationService">
                    <h3 class="invalidation-request--backend-headline">{invalidationService.backend}</h3>
                    <f:for each="{invalidationService.results}" as="invalidationItem">
                        <ul class="invalidation-request--headline">
                            <li>{invalidationItem}</li>
                            <ul>
                                <f:for each="{invalidationItem.requests}" as="request">
                                    <f:if condition="{request.success}">
                                        <f:then>
                                            <v:variable.set name="responseColorClass" value="color--green" />
                                        </f:then>
                                        <f:else>
                                            <v:variable.set name="responseColorClass" value="color--red" />
                                        </f:else>
                                    </f:if>

                                    <li>{request.requestUri} [{request.responseCode}] <span class="{responseColorClass}">{request.responseMessage}</span></li>
                                </f:for>
                            </ul>
                        </ul>
                    </f:for>
                </f:for>
            </f:then>
            <f:else>
                <div class="callout callout-notice">
                    <div class="media">
                        <div class="media-left"><span class="fa-stack fa-lg callout-icon"><i
                                class="fa fa-circle fa-stack-2x"></i><i
                                class="fa fa-lightbulb-o fa-stack-1x"></i></span></div>
                        <div class="media-body"><h4 class="callout-title">Info</h4>
                            <div class="callout-body">Dieses Funktion ermöglicht ein schnelles Aktualisieren des im Varnish zwischengespeicherten Inhalts.</div>
                        </div>
                    </div>
                </div>
            </f:else>
        </f:if>
    </div>
</div>
<f:comment>
    <h2>Rekursives Invalidieren</h2>
    <div class="container container--50">
        <div class="column">
            <h3>Purge all in path</h3>
            <f:form action="invalidatePathRecursive">
                <table>
                    <tr>
                        <td><f:form.checkbox id="purgeCss" name="assets[]" value="/assets/Stylesheets/*.css" /></td>
                        <td><label for="purgeCss">All Stylesheets (/assets/Stylesheets)</label></td>
                    </tr>
                    <tr>
                        <td><f:form.checkbox id="purgeJs" name="assets[]" value="/assets/JavaScript/*.js" /></td>
                        <td><label for="purgeJs">All JavaScript (/assets/JavaScript)</label></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <f:form.textarea id="purgePath" class="purge-urls" name="path" placeholder="/assets/Stylesheets" />
                            <p class="color--red">Attention Purge with "/" will invalidate ALL objects in Varnish / Akamai-Cache</p>
                        </td>
                    </tr>
                </table>
                <f:form.submit class="button button--fast-purge" value="Invalidieren"  />
            </f:form>
        </div>
        <div class="column">
            <div class="callout callout-notice">
                <div class="media">
                    <div class="media-left"><span class="fa-stack fa-lg callout-icon"><i
                            class="fa fa-circle fa-stack-2x"></i><i
                            class="fa fa-lightbulb-o fa-stack-1x"></i></span></div>
                    <div class="media-body"><h4 class="callout-title">Info</h4>
                        <div class="callout-body">
                            <p>
                                Alle Ressourcen unterhalb der hinterlegten Pfade werden im Varnish invalidiert.<br>
                                Folgende Variantionen sind möglich:
                            </p>
                            <ul>
                                <li>/assets/Stylesheets (ohne Begrenzung auf Dateityp)</li>
                                <li>/assets/Stylesheets/*.css</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:comment>
