{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:be.container
	includeCssFiles="{
		1: '{f:uri.resource(path:\'Css/styles.css\')}'
	}"
	includeRequireJsModules="{
		0: 'TYPO3/CMS/Styleguide/FindIcons',
		1: 'bootstrap',
		2: 'TYPO3/CMS/Backend/ContextHelp',
		3: 'TYPO3/CMS/Backend/DocumentHeader',
		4: 'TYPO3/CMS/Backend/SplitButtons',
		5: 'TYPO3/CMS/Lang/Lang'
	}">
	<div class="module" data-module-id="" data-module-name="">
		<div class="module-body t3js-module-body">
			<h1><f:render section="headline" /></h1>
			<f:render section="content" />
		</div>
	</div>
</f:be.container>
