{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Backend"/>

<f:section name="iconButtons">
</f:section>

<f:section name="headline">
    <f:translate key="tables" />
</f:section>

<f:section name="content">
    <f:render partial="Backend/Main" arguments="{_all}" />
</f:section>